.preview {
  width: 100%;
  background: #111;
  color: white;
}

.btn-primary {
  color: white;
  background-color: #00afaf;
  border-color: #00afaf;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.navbar {
  z-index: 9000;
}

.nav-item {
  margin: 0 16px;
}

.dropdown-item:hover {
  color: white;
  background-color: #00afaf;
}

.brand-header .navbar-brand {
  background: url("rs.png");
  background-repeat: no-repeat;
  background-size: 36px 36px;
  padding: 6px;
  padding-left: 3rem;
}

/*
#navbarsExampleDefault > .navbar-nav {
  padding-right:16px;
}
*/
.intro-text blockquote {
  font-size: 1.25em;
  width: 100%;
  margin: 50px auto;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #333333;
  line-height: 1.6;
  position: relative;
  background: #efefef;
  border-radius: 8px;
}
.intro-text blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #333333;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}
.intro-text blockquote::after {
  content: '';
}
.intro-text blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.features h3 {
  margin-bottom: 1.25rem;
}
.features h3 i {
  margin-right: 0.5rem;
}
.features .col-md-3 {
  margin-top: 1.5rem;
}

.full-features {
  margin-top: 18px;
  max-width: 1000px;
  margin-bottom: 2rem;
}
.full-features > h2 {
  text-align: center;
  margin: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.full-features ul {
  background-color: #efefef;
  border-radius: 4px;
  padding: 1.5rem 2.5rem;
}
.full-features ul li {
  margin: 6px;
}

pre[class*="language-"] {
  background: #262a2f !important;
}

.code-feature > h2 {
  text-align: center;
  font-weight: 700;
}

.sample-code {
  max-width: 1000px;
  margin: 0 auto;
}
.sample-code > h2 {
  text-align: center;
  margin: 0.75rem;
  color: #eee;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.code-section {
  background: #eee;
  padding: 22px;
  margin: 12px;
}
.code-section > p {
  font-family: Verdana;
  font-size: 18px;
}
.code-section > p span {
  display: inline-block;
  padding: 2px 6px;
  color: #111;
  border-radius: 6px;
  background-color: #ccc;
  font-size: 14px;
  margin: 0 6px;
  font-family: Roboto;
}

.code-container {
  /*background: #e9ecef;*/
  background: #222;
  /*background: url('square.png');*/
  padding: 12px 8px;
}

.outer-container {
  width: 100%;
  background-color: #111;
}
.outer-container .container {
  padding: 12px;
}

.products {
  font-family: 'Open Sans';
}
.products h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1.5rem;
  padding-top: 3.5rem;
  color: #eee;
  letter-spacing: 2px;
}
.products h3 {
  background: #ffcc00;
  text-align: center;
  font-size: 16px;
  margin: 12px auto;
  margin-top: 20px;
  padding: 6px;
  width: 280px;
  border-radius: 6px;
}
.products .col {
  margin-top: 12px;
}
.products .col img {
  border: 2px solid #666;
  transition: all 0.25s ease-out;
  display: block;
  margin: 0 auto;
  border-radius: 16px;
}
.products .col img:hover {
  border-color: white;
}
.products .col span {
  display: block;
  width: 100%;
  color: #eee;
  padding: 8px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: 1px;
}

.designer-feature h2 {
  text-align: center;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.designer-feature img {
  display: block;
  margin: 2rem auto;
  border: 4px solid #ccc;
}
.designer-feature iframe {
  display: block;
  margin: 0px auto;
  margin-top: 12px;
  width: 90%;
}

.designer-container {
  padding: 15px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 6px;
}
.designer-container .designer-section {
  padding: 4px 8px;
}
.designer-container .designer-section iframe {
  display: block;
  margin: 0px auto;
  margin-top: 12px;
  width: 90%;
}
.designer-container .designer-section img {
  display: block;
  margin: 16px auto;
  max-width: 100%;
}
.designer-container .designer-section div {
  text-align: center;
}
.designer-container .designer-section h3 {
  margin-bottom: 20px;
  margin-top: 3rem;
  text-align: center;
  font-weight: 700;
}
.designer-container .designer-section .anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -90px;
}
.designer-container .designer-section .table {
  margin-top: 18px;
  max-width: 500px;
  width: 100%;
}
.designer-container .designer-section hr {
  margin-top: 2rem;
}

.designer-empty {
  height: 40px;
}

.customize-container {
  padding: 15px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 6px;
}
.customize-container .customize-section {
  padding: 4px 8px;
}
.customize-container .customize-section h3 {
  margin-bottom: 12px;
}
.customize-container .customize-section .anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -90px;
}
.customize-container .customize-section .table {
  margin-top: 18px;
  max-width: 600px;
  width: 100%;
}

.customize-empty {
  height: 40px;
}

.cs3d-footer {
  background: #343a40;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
  padding: 8px;
  font-family: 'Open Sans';
  text-align: center;
}
.cs3d-footer a, .cs3d-footer a:visited {
  color: white;
}
.cs3d-footer a:hover {
  text-decoration: none;
}
.cs3d-footer .fa {
  font-size: 16px;
  display: inline-block;
  margin-top: 2px;
  padding: 6px;
}

.examples-container {
  padding: 15px;
  padding-top: 20px;
  border-radius: 6px;
}

.example-section {
  margin-bottom: 24px;
  padding: 24px;
  background: white;
  border: 2px solid #ddd;
}
.example-section .anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -100px;
}
.example-section h3 {
  margin-top: 2px;
  margin-bottom: 16px;
  font-size: 1.5em;
}
.example-section h3 i {
  display: inline-block;
  margin-right: 6px;
}
.example-section:after {
  content: "";
  display: table;
  clear: both;
}
.example-section .preview {
  color: white;
  display: block;
  float: left;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.example-section .description {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
.example-section .description ul {
  margin-top: 12px;
}
.example-section .description a {
  display: block;
  background-color: #00afaf;
  color: white;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  width: 100px;
  height: 36px;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  padding-top: 4.5rem;
  font-family: 'Roboto';
}

main {
  min-height: calc(100% - 32px);
}

.subcribe-footer {
  margin: 26px;
}
.subcribe-footer .sub-content {
  background: #dcf5df;
  padding: 22px;
  border: 6px solid #069640;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.subcribe-footer .sub-content p {
  font-family: Georgia;
  font-style: italic;
  font-size: 22px;
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%;
}
#mc_embed_signup .button {
  font-size: 18px !important;
  background-color: #069640 !important;
  text-transform: uppercase;
}

.buynow-container {
  border-bottom: 1px solid #ccc;
}

.buynow-btn {
  margin: 24px auto;
  text-decoration: none;
  color: #ffffff;
  width: 280px;
  height: 80px;
  border: 4px solid #7cd460;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: #069640;
  cursor: pointer;
  border-radius: 42px;
}
.buynow-btn .price {
  font-family: Oswald;
  font-size: 24px;
}
.buynow-btn .offer {
  font-family: Georgia;
  font-style: italic;
  text-decoration: underline;
  color: #fff;
}
.buynow-btn:hover {
  text-decoration: none;
  color: #111;
}
.buynow-btn:visited {
  color: #fff;
}

.pricing-container {
  border-top: 1px solid #ccc;
  background: url("round.png");
  display: none;
}
.pricing-container h2 {
  text-align: center;
  margin-bottom: 18px;
  padding-top: 20px;
  font-weight: 700;
}

.pricing {
  max-width: 800px;
  margin: 0 auto;
}
.pricing .last-row {
  background: #26292b;
}

.promotion {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 32px;
}
.promotion .fa {
  display: inline-block;
  margin: 6px;
}
.promotion .pr {
  margin: 0 auto;
  margin-bottom: 12px;
  font-family: Verdana;
  font-size: 12px;
  background: #c79119;
  color: white;
  padding: 6px;
  border-radius: 6px;
}
.promotion .wordpress {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  padding: 10px;
  background: beige;
  border: 4px solid #f3bb3f;
}
.promotion .wordpress span {
  display: block;
  text-decoration: underline;
}
.promotion p {
  margin-top: 2px;
}
