
.rs-container {
  background: #eee;
  width: 100%;
}

.app-title {
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight:400;
  text-transform:uppercase;
  color:#111;
  letter-spacing:6px;
  font-size: large;
  padding:4px;
}

.back-examples {
  padding:4px;
  display:inline-block;
  color:#999!important;
  margin-top:4px;
}

.back-examples:hover {
  color:black!important;
}

.markup-item {

  padding:12px;
  background: #ffcc00;
  color:#333;
  border:4px solid #eee;
  box-sizing:border-box;
  font-family: Georgia;
  font-size:16px;
}

.markup-item img {

  max-width:140px!important;
  display: block;
  margin:0 auto;
  margin-top:12px;
}

.markup-item p a, .markup p a:visited {
  color:red;
}
